/* ========================
   === MENU E NAVEGAÇÃO ===
   ======================== */

.menu{
    border-color: black;
    margin: 0px;
    text-align: center;
    font-size: larger;
    display: block;
    width: 500px;
}

/* Estilização da lista */
.lista{
    list-style-type: none;
    font-size: 23px;
    padding: 0px;
    font-style:oblique;
    color: white;
    text-decoration: dashed;
    text-decoration-color: black;
}


li a{
    display: block;
    align-self: center;
    margin-left: 2px;
    padding: 8px 16px;
    width: 200px;
    background-size: 0px;
    background-color: gray;
}

#formacao{
    color: white;
}

/* Efeito hover para itens do menu */
#formacao:hover{
    color: black;
    background-color: white;
}

#portfolio{
    color: white;
}

/* Efeito hover para itens do menu */
#portfolio:hover{
   color: black;
    background-color: white; 
}

#contato{
    color: white;
}

/* Efeito hover para itens do menu */
#contato:hover{
    color: black;
    background-color: white;
}



#sobremim{
    color: white;
}

/* Efeito hover para itens do menu */
#sobremim:hover{
    color: black;
    background-color: white;
}

#voltarmenu{
    font-size: 18px;
    padding-bottom: 10px;
    color: blue;
    display: block;
    margin: 2px;
    text-align: left;
    margin-right: 45px;
    margin-bottom: 12px;
    

}

/* Efeito hover para itens do menu */
#voltarmenu:hover{
    color:black;  
}


/* ========================
   === CONTEÚDO DO SITE ===
   ======================== */
h1 {
    display: block;
    background-color: aliceblue;
    padding-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}   

li{float: left;}

img{
    width: 200px;
    display: block;
    float: left;
}

h2{
   display: block;
    background-color:rgb(239, 201, 107);
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}

.eu{
    display: block;
    text-align: left;
    padding: 5px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

.jogos{
    display: block;
    text-align: right;
    padding-right: 450px;
    margin-top: 60px;
    padding-top: 4px;
    padding-bottom: 5px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

#print{
    padding-right: 0px;
    padding-top: 25px;
    width: 350px;
    display: block;
    float: right;
}

.profissional{
    display: block;
    text-align: left;
    padding-right: 450px;
    margin-top: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

#eu-profissional{
    padding-top: 25px;
}

.formacaoacademica{
    display: block;
    text-align: left;
    padding: 5px;
    margin-top: 40px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

.uninter{
    display: block;
    text-align: right;
    padding-right: 450px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: 4px;
    padding-bottom: 5px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

.ingles{
    display: block;
    text-align: left;
    padding: 5px;
    margin-top: 60px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}

.calculadora{
    display: block;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 20px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    margin-top: 0px;
    font-size: 19px;
}

.calculadorafoto{
    margin-top: 8px;
}

#mariofoto{
    padding-right: 150px;
    width: 200px;
    display: block;
    float: right;
}

.mario{
    display: block;
    text-align: right;
    padding-right: 450px;
    margin-top: 5px;
    padding-top: 4px;
    padding-bottom: 20px;
    background-color: aliceblue;
    margin-left: 2px;
    font-size: 19px;
}
 .pizza{
    display: block;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 32px;
    padding-left: 300px;
    background-color: aliceblue;
    margin-left: 2px;
    margin-bottom: 100px;
    font-size: 19px;
 }

 form{
    font-size: 20px;
 }
